@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg")
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 256px;
    text-align: center;
    border: 10px solid black;
    background: black;
    border-radius: 15px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

input[type="text"] {
    height: 75px;
    width: 250px;
    background-color: black;
    color: white;
    border: 0px;
    text-align: right;
    font-size: 25px;
    font-weight: 500px;
    letter-spacing: 1px;
}

#clear {
    grid-column: 1/3;
    grid-row: 1;
    background-color:#5c1fe0;
    color:white;
}

#del {
    background-color:#5c1fe0;
    color:white;
}

#equal {
    grid-column: 3/5;
    grid-row: 5;
    background-color:#5c1fe0;
    color:white;
}

#operator{
    background-color: #f9888b;
    color:white;
}

button {
    margin:5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;   
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}